img{
    width: 350px;
}

body{background-color: brown;

}
p{
    font-size: 28px;
    background-color: rgb(236, 143, 143);
    border-radius: 30px;
    padding:20px ;

}

button{
    font-size: 28px;
}

button{
    color: rgb(236, 143, 143);
    background-color: brown;
    border-radius: 30px;
}
